<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coronavirus en Chile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
</head>
<body>
    <div class="parallax-container">
        <div class="parallax"><img src="../static/img/virus.jpg"></div>
        <!---->
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1>Coronavirus en Chile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <table class="">
                    <thead>
                        <tr>
                            <th class="center">Casos totales <br><i class="fas fa-viruses fa-2x"></i></th>
                            <th class="center">Nuevos casos <br><i class="fas fa-user-plus fa-2x"></i></th>
                            <th class="center">Fallecidos <br><i class="fas fa-skull-crossbones fa-2x"></i></th>
                            <th class="center">Total recuperados <br><i class="fas fa-shield-virus fa-2x"></i></th>
                            <th class="center">Casos activos <br><i class="fas fa-head-side-cough fa-2x"></i></th>
                            <th class="center">Casos críticos <br><i class="fas fa-procedures fa-2x"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chile in data %}
                        <tr>
                            <td class="center">{{chile[1]}}</td>
                            <td class="center">{{chile[2]}}</td>
                            <td class="center">{{chile[3]}}</td>
                            <td class="center">{{chile[5]}}</td>
                            <td class="center">{{chile[6]}}</td>
                            <td class="center">{{chile[7]}}</td>
                        </tr>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="parallax-container mid">
        <div class="parallax"><img src="../static/img/virus.jpg"></div>
        <!---->
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1>Coronavirus en Regiones de Chile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <table class="">
                    <thead>
                        <tr>
                            <th class="center">Región</th>
                            <th class="center">Casos Nuevos</th>
                            <th class="center">Casos totales</th>
                            <th class="center">% Casos totales</th>
                            <th class="center">Fallecidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_regions %}
                        <tr>
                            <td>{{data[0]}}</td>
                            <td class="center">{{data[1]}}</td>
                            <td class="center">{{data[2]}}</td>
                            <td class="center">{{data[3]}}</td>
                            <td class="center">{{data[4]}}</td>
                        </tr>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="../static/img/virus.jpg"></div>
        <!---->
    </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });
</script>
</body>
</html>